{:paths ["src" "resources" "spec"]

 :deps  {io.github.slagyr/isaac    {:git/url "git@github.com:slagyr/isaac.git"
                                    :git/sha "5e1ec209047436b230fb8de770fc0f3f857af6be"}
         speclj/speclj             {:mvn/version "3.13.0"}
         babashka/process          {:mvn/version "0.5.22"}
         io.github.slagyr/gherclj  {:git/tag "v1.2.0" :git/sha "de202c8"}}

 :tasks
 {spec     {:doc      "Run discord specs"
            :requires ([speclj.main :as speclj])
            :task     (apply speclj/-main "-c" "-D" "spec" *command-line-args*)}

  features {:doc      "Run discord features (excludes @slow and @wip)"
            :requires ([gherclj.main :as main])
            :task     (let [feature-args (if (seq *command-line-args*)
                                           *command-line-args*
                                           (->> (file-seq (java.io.File. "features"))
                                                (filter (fn [f] (.isFile f)))
                                                (map (fn [f] (.getPath f)))
                                                (filter (fn [p] (clojure.string/ends-with? p ".feature")))
                                                sort))]
                        (apply main/-main (concat ["-s" "isaac.features.steps.*"]
                                                  ["-t" "~slow" "-t" "~wip"]
                                                  feature-args)))}

  ci       {:doc  "Run all specs and features"
            :task (do (shell "bb" "spec")
                      (shell "bb" "features"))}}}
