{:paths ["src"]

 :deps  {cheshire/cheshire        {:mvn/version "5.13.0"}
         org.babashka/http-client {:mvn/version "0.4.22"}}

 :aliases
 {:dev-local {:override-deps {io.github.slagyr/isaac      {:local/root "../isaac"}
                              io.github.slagyr/isaac-spec {:local/root "../isaac/spec"}}}

  :test {:extra-paths ["spec"]
         :extra-deps  {io.github.slagyr/isaac      {:git/url "https://github.com/slagyr/isaac.git"
                                                    :git/sha "939aa4681e2d0c411672a80c7a0cc486b007b1fe"}
                       io.github.slagyr/isaac-spec {:git/url "https://github.com/slagyr/isaac.git"
                                                    :git/sha "939aa4681e2d0c411672a80c7a0cc486b007b1fe"
                                                    :deps/root "spec"}
                       speclj/speclj               {:mvn/version "3.13.0"}
                       babashka/process            {:mvn/version "0.5.22"}
                       io.github.slagyr/gherclj    {:git/tag "v1.3.0" :git/sha "9c3bb1d"}}}}}
