{:paths ["src" "resources" "spec"]
 :deps  {io.github.slagyr/isaac    {:git/url "git@github.com:slagyr/isaac.git"
                                    :git/sha "5e1ec209047436b230fb8de770fc0f3f857af6be"}
         speclj/speclj             {:mvn/version "3.13.0"}
         babashka/process          {:mvn/version "0.5.22"}
         io.github.slagyr/gherclj  {:git/tag "v1.2.0" :git/sha "de202c8"}}}
